@import "_animations/_shake";

.hand{
    background-image: url('../../images/hand.png');
    background-repeat: no-repeat;
    width: 146px;
    height: 146px;
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    &.player{
        float: left;
    }
    &.boot{
        float: right;
    }
    &.shake{
        &-player{
            -webkit-animation-name: shake-player; 
            animation-name: shake-player;
        }
        &-boot{
            -webkit-animation-name: shake-boot; 
            animation-name: shake-boot;
        }
        
    }
    &.scissors-player{
        background-position: 0 40px;
    }
    &.scissors-boot{
        background-position: -146px 40px;
    }
    &.rock-player{
        background-position: 0 -250px;
    }
    &.rock-boot{
        background-position: -146px -250px;
    }
    &.paper-player{
        background-position: 0 -110px;
    }
    &.paper-boot{
        background-position: -146px -110px;
    }
}