// containers
$container: 350px !default;

// pop-up
$pop-up-width: 500px !default;
$pop-up-height: 120px !default;

// colors
$primary-color: #ff6334 !default;
$secondary-color: #222 !default;
$win-color: #89d216 !default;
$lost-color: #ff6334 !default;
$disabled-color: #a7a7a7 !default;